@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-lab-metal text-neon-teal font-sci h-full w-full overflow-hidden m-0 p-0;
  position: relative;
}

#app {
  height: 100%;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 90px;
  gap: 10px;
  height: 100%;
}
